body {
  //   background: $body-color;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: $catamaran;
  overflow-x: hidden;
  * {
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    margin: 0 0 font-rem(10);
  }
  a {
    text-decoration: none;
    transition: all 200ms ease-out;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
.container {
  width: font-rem(1200);
  margin: auto;
  padding: 0 font-rem(5);
  max-width: 100%;
  @include belowDesktop {
    width: font-rem(992);
  }
  @include belowTablet {
    width: font-rem(768);
  }
  @include belowPhone {
    width: 100%;
  }
}
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  padding-right: font-rem(30);
  background-image: url("../../assets/images/dropdown-bg.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) center;
  font-family: $catamaran !important;
  font-size: font-rem(12);
  border: none;
  cursor: pointer;
}
button,
.btn {
  border: none;
  background: $pink;
  color: $white;
  padding: font-rem(10);
  font-family: $catamaran;
  font-size: font-rem(18);
  display: inline-block;
  text-align: center;
}
