$segoeUI: "segoeUI-Semilight", sans-serif;
$catamaran: "Catamaran", sans-serif;
// font size to rem

$font_base: 16;
@function font-rem($font_size) {
  @return ($font_size / $font_base) + rem;
}
//colors
$black: #000000;
$white: #ffffff;
$pink: #b4777b;
$gray: #e5e5e5;
$gray2: #d1cccb;
$pinkGray: #e5dadc;
$lightPink: #fbf9f9;
$pink2: #bb9592;
$pink3: #cdc1c0;
