article.qoute
    .container
        blockquote(cite="#")
            span.icon-qoute-start
            strong Clothes mean 
            |   nothing until 
            br
            |   someone 
            strong lives in them.
            span.icon-qoute-end
        address.author Marc Jacobs