.footer
    .footer__upper
    .footer__copyrights
        ul
            li © Nomad Story 2019 
            li Delaware File Number
            li New York File Number
        p Proudly made by
            a(href="https://robustastudio.com/" target="_blank") robusta