extends layout/layout.pug

block vars
    -var title='Home'
    -var pageClass = 'homePage'
block content
    main 
        section
            include components/home/carousel.pug
            include components/home/productCardsWhite.pug
            include components/home/victoriaBlendStory.pug
            include components/home/quote.pug
            include components/home/productCardsGray.pug
            include components/home/bohemiaArticle.pug
            img(src="../../assets/images/test.jpg" alt="test")
