extends layout/layout.pug

block vars
    -var title='Home'
    -var pageClass = 'homePage'
block content
    main 
        include components/home/carousel.pug
        include components/home/productCardsWhite.pug
        include components/home/victoriaBlendStory.pug
        include components/home/quote.pug
        include components/home/productCardsGray.pug
        include components/home/bohemiaArticle.pug
        include components/home/styleConnoisseur.pug
        include components/home/hoveredProductCards.pug
        //- img(src="../../assets/images/test.jpg" alt="test")
