.styleConnoisseur {
  // background: brown;
  position: relative;
  margin: 0 auto font-rem(80);
  &__imgContainer {
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: font-rem(550);
      min-width: font-rem(1200);

      // object-fit: cover;
    }
  }
  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    padding: 0 font-rem(75);
    h2 {
      font-size: font-rem(43);
      font-weight: bold;
      text-transform: uppercase;
      // line-height: 71px;
      margin-bottom: font-rem(10);
    }
    p {
      font-size: font-rem(21);
      margin-bottom: font-rem(72);
    }
    .form {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;

      &__formGrp,
      &__formGrp_priceInput {
        width: calc(25% - 5px);
        background: red;
        display: flex;
        padding: 0 font-rem(25);
        align-items: center;
        background: $white;
        text-transform: capitalize;
        height: font-rem(50);
        margin-bottom: font-rem(10);
        @include belowTablet {
          width: calc(50% - 5px);
        }
        @include belowPhone() {
          width: 100%;
        }
        label {
          flex-shrink: 0;
          align-items: center;
          padding-right: font-rem(10);
          font-size: font-rem(14);
          font-weight: bold;
          color: $black;
        }
        select {
          font-size: 14px;
          flex-grow: 1;
        }
        input[type="text"] {
          max-width: 50%;
          border: none;
          background: transparent;
          color: black;
          font-size: 14px;
          &::placeholder {
            color: black;
          }
        }
      }
      &__formGrp {
        &_priceInput {
          background: rgba(255, 255, 255, 0.05);
        }
      }
      button {
        width: 25%;
        height: font-rem(50);
        @include belowTablet {
          width: calc(50% - 5px);
        }
        @include belowPhone() {
          width: 100%;
        }
      }
    }
  }
  &::before {
    content: "";
    width: font-rem(116);
    height: font-rem(10);
    border: 1px solid $pinkGray;
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: font-rem(32);
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    background-image: url("../../assets/images/O_.png");
    width: font-rem(117);
    height: font-rem(116);
    position: absolute;
    right: 0;
    top: font-rem(70);
    transform: translateX(50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
